@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Carter+One&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Carter+One&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.curtain {
  position: fixed;
  width: 50vw;
  height: 100vh;
  background-color: #000000;
  top: 0;
  transition: transform 2s cubic-bezier(0.5, 0, 0, 1);
  z-index: 1;
}

.curtain-left {
  left: 0;
  transform-origin: left;
}

.curtain-right {
  right: 0;
  transform-origin: right;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.logo {
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height: 80px;
  max-width: 80px;
  margin-top: 15px;
  margin-left: 190px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 8vh;
  z-index: 100;
  position: relative;
}

nav a {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
  z-index: 101;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  position: relative;
}

.nav-list li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  border-bottom: 0.125rem solid rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 1.5s ease;
}

.nav-list li:hover::after {
  transform: scaleX(1);
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 8px;
  transition: 0.3s;
}

.direita {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.direita button {
  padding: 10px 15px;
  margin-left: 30px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s ease, transform 0.3s ease;
}

.direita button a {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
}

.direita button:hover {
  transition: 0.6s ease;
  background: linear-gradient(180deg, #1E90FF, #00BFFF, #ffffff);
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.8;
}

main {
  width: 100%;
  display: flex;
  background-image: url(imgs/fundo_filme_meninas.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.serie {
  width: 100%;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-serie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 50%;
}

.logo-serie img {
  width: 39%;
  border-radius: 20px;
  transition: transform 0.6s ease;
}

.logo-serie img:hover{
  transform: scale(1.05);
}

.txt {
  flex: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-right: 40px;
  padding: 30px;
}

.nome img {
  height: auto;
  width: 35%;
  margin-bottom: 25px;
  transition: transform 0.6s ease;
}

.nome img:hover{
  transform: scale(1.06);
}

.info {
  display: flex;
  justify-content: space-between;
}

.info p {
  text-align: justify;
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.sinopse p {
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.watch button {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  word-spacing: 2px;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 20%;
  height: 55px;
  border-radius: 20px;
  cursor: pointer;
}

.watch button:hover{
  transition: 0.6s ease;
  background: radial-gradient(circle, #FF77A9, #FF4384, #FF005D);
  cursor: pointer;
  transform: scale(1.05);
}

.watch a{
  text-decoration: none;
  color: black;
}

.watch a:hover{
  color: white;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 400px;
  padding-block: 50px;
  background: linear-gradient(to top, #000000, #000001);
}

.cima {
  flex: 50%;
  display: flex;
  margin-bottom: 30px;
  text-align: justify;
}

.cima p {
  color: white;
  font-size: 1.1rem;
}

.baixo {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esquerda {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.esquerda h1 {
  color: white;
  font-size: 1.9rem;
  padding-bottom: 55px;
}

.redessociais {
  display: flex;
  gap: 40px;
}

.redessociais a {
  text-decoration: none;
}

.redessociais i {
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  width: 2.8rem;
}

.redessociais i:hover {
  opacity: 0.8;
}

#insta {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  border-radius: 50%;
}

#you {
  background-color: red;
  border-radius: 50%
}

#twt {
  background-color: #0099ff;
  border-radius: 50%
}

#face {
  background-color: #4267b3;
  border-radius: 50%
}

.dir {
  flex: 50%;
  padding-inline: 30px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  user-select: none;
}

.dir img {
  width: 40%;
}

.copy p {
  font-size: 1.1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media (max-width: 1342px) {


  .logo img {
    margin-left: 0;
    max-width: 60px;
    max-height: 60px;
  }

  .nav-list {
    position: absolute;
    top: 7vh;
    right: 0;
    width: 50vw;
    height: 70vh;
    padding-block: 30px;
    border-bottom-left-radius: 20px;
    background: linear-gradient(to bottom, #000000, #000001);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  nav a {
    font-size: 1.3rem;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  footer {
    padding-inline: 40px;
    padding-block: 70px;
  }

  .baixo {
    flex-direction: column;
  }

  .dir img {
    width: 45%;
  }

  .copy p {
    font-size: 1.1rem;
  }

  .esquerda h1 {
    padding-bottom: 40px;
  }

  .redessociais i {
    height: 2.3rem;
    width: 2.3rem;
    font-size: 20px;
  }

  .copy p {
    text-align: justify;
  }

  .direita {
    display: none;
  }
  .serie{
    flex-direction: column;
  }

  .txt{
    width: 100%;
    margin-right: 0px;
    border-radius: 0px;
    padding: 30px 30px;
    background-color: #000000a4;
    justify-content: center;
  }

  .nome{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .nome img{
    width: 99%;
  }

  .sinopse p {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .info p {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .logo-serie{
    display: none;
  }

  .watch button {
    width: 45%;
    min-height: 10px;
  }
}

@media (max-width: 1600px) and (max-height: 900px) {
  .dir img {
      width: 45%;
  }
}


@media (min-width: 550px) and (max-width: 1342px) {
  .dir img {
    width: 20%;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}