@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Carter+One&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Carter+One&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.logo {
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height: 80px;
  max-width: 80px;
  margin-top: 15px;
  margin-left: 190px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 8vh;
  z-index: 100;
  position: relative;
}

nav a {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
  z-index: 101;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  position: relative;
}

.nav-list li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  border-bottom: 0.125rem solid rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 1.5s ease;
}

.nav-list li:hover::after {
  transform: scaleX(1);
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 8px;
  transition: 0.3s;
}

.direita {
  justify-content: center;
  align-items: center;
}

.direita button {
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  margin-left: 30px;
  border-radius: 12px;
  border: none;
  transition: 0.4s ease, transform 0.3s ease;
}

.direita button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
}

.direita button:hover {
  transition: 0.6s ease;
  background: linear-gradient(180deg, #1E90FF, #00BFFF, #ffffff);
  cursor: pointer;
  transform: scale(1.05);
}

main {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  background-image: url(as/perso_fundo_as.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

.top {
  flex: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div {
    width: 20%;
  }  

.serie {
  width: 55%;
  margin-top: 70px;
}

.serie img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.6s ease;
}

.serie img:hover {
  transform: scale(1.03);
}

.bottom {
  flex: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.poster {
  width: 70%;
  padding-top: 100px;
  padding-bottom: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.poster a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.poster a h1 {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding-top: 10px;
}

.poster a h2 {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  padding-top: 10px;
}


.poster a p {
  color: #ffffff;
  font-size: 1.1rem;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  padding-top: 10px;
}

.poster a img {
  width: 65%;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.poster a img:hover {
  transform: scale(1.07);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 400px;
  padding-block: 50px;
  background: linear-gradient(to top, #000000, #000001);
}

.cima {
  flex: 50%;
  display: flex;
  margin-bottom: 30px;
  text-align: justify;
}

.cima p {
  color: white;
  font-size: 1.1rem;
}

.baixo {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esquerda {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.esquerda h1 {
  color: white;
  font-size: 1.9rem;
  padding-bottom: 55px;
}

.redessociais {
  display: flex;
  gap: 40px;
}

.redessociais a {
  text-decoration: none;
}

.redessociais i {
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  width: 2.8rem;
}

.redessociais i:hover {
  opacity: 0.8;
}

#insta {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  border-radius: 50%;
}

#you {
  background-color: red;
  border-radius: 50%
}

#twt {
  background-color: #0099ff;
  border-radius: 50%
}

#face {
  background-color: #4267b3;
  border-radius: 50%
}

.dir {
  flex: 50%;
  padding-inline: 30px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  user-select: none;
}

.dir img {
  width: 40%;
}

.copy p {
  font-size: 1.1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media (max-width: 1342px) {

  .logo img {
    margin-left: 0;
    max-width: 60px;
    max-height: 60px;
  }

  .nav-list {
    position: absolute;
    top: 7vh;
    right: 0;
    width: 50vw;
    height: 70vh;
    padding-block: 30px;
    border-bottom-left-radius: 20px;
    background: linear-gradient(to bottom, #000000, #000001);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  nav a {
    font-size: 1.3rem;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  footer {
    padding-inline: 40px;
    padding-block: 70px;
  }

  .baixo {
    flex-direction: column;
  }

  .dir img {
    width: 45%;
  }

  .copy p {
    font-size: 1.1rem;
  }

  .esquerda h1 {
    padding-bottom: 40px;
  }

  .redessociais i {
    height: 2.3rem;
    width: 2.3rem;
    font-size: 20px;
  }

  .copy p {
    text-align: justify;
  }

  .direita {
    display: none;
  }

  .serie{
    width: 95%;
  }

  .poster{
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .poster a img{
    width: 70%;
  }

  .poster a{
    margin-bottom: 70px;
  }

  .poster a h1{
    font-size: 1.2rem;
  }

  .poster a p{
    font-size: 0.9rem;
  }

  .nav-meio{
    display: none;
  }

  .div{
    display: none;
  }

}

@media (min-width: 550px) and (max-width: 1342px) {
  .dir img {
    width: 20%;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}